# Data Selection

- You need to search for open datasets, 
 - Import some medical data 
 - Manipulate the data by using 
   - Appropriate visualisation tools 
   - Or libraries of your choice. 
 - The visualisation of the chosen dataset 
   - Must be documented with providing rationale behind using either of the tools
   - And its relevance in the healthcare sector.
- Data.gov.uk

# Data Preparation

- Assess the quality of your data using suitable techniques. 
- Clean the data if and as necessary. 
- Your report should document and justify any techniques you have utilised 
  - to assess the quality of the data. 
  - Your justification must be informed by research.

In [3]:
import pandas as pd

filename = 'Data.xlsx'
df = pd.read_excel(filename)

df

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4030 entries, 0 to 4029
Data columns (total 10 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   date                              4030 non-null   datetime64[ns]
 1   areaName                          4030 non-null   object
 2   newCasesByPublishDate             3787 non-null   float64
 3   cumCasesByPublishDate             7 non-null      float64
 4   newDeaths28DaysByPublishDate      3035 non-null   float64
 5   cumDeaths28DaysByPublishDate      3055 non-null   float64
 6   cumDeaths28DaysByPublishDateRate  3055 non-null   float64
 7   newDeaths28DaysByDeathDate        4022 non-null   float64
 8   cumDeaths28DaysByDeathDate        4023 non-null   float64
 9   cumDeaths28DaysByDeathDateRate    3988 non-null   float64
dtypes: datetime64[ns](1), float64(8), object(1)
memory usage: 315.0+ KB

In [7]:
df[['date', 'areaName', 'newCasesByPublishDate','newDeaths28DaysByPublishDate']]

,date,areaName,newCasesByPublishDate,newDeaths28DaysByPublishDate
0,2020-03-11,South West,NaN,NaN
1,2020-03-12,South West,NaN,NaN
2,2020-03-13,South West,NaN,NaN
3,2020-03-14,South West,NaN,NaN
4,2020-03-15,South West,NaN,NaN
...,...,...,...,...
4025,2021-12-08,North West,4919.0,19.0
4026,2021-12-09,North West,4066.0,13.0
4027,2021-12-10,North West,4886.0,17.0
4028,2021-12-11,North West,6004.0,19.0
4029,2021-12-12,North West,4428.0,2.0

In [8]:
df[['date', 'areaName', 'cumCasesByPublishDate','cumDeaths28DaysByPublishDate','cumDeaths28DaysByPublishDateRate']]

,date,areaName,cumCasesByPublishDate,cumDeaths28DaysByPublishDate,cumDeaths28DaysByPublishDateRate
0,2020-03-11,South West,NaN,NaN,NaN
1,2020-03-12,South West,NaN,NaN,NaN
2,2020-03-13,South West,NaN,NaN,NaN
3,2020-03-14,South West,NaN,NaN,NaN
4,2020-03-15,South West,NaN,NaN,NaN
...,...,...,...,...,...
4025,2021-12-08,North West,NaN,20520.0,278.5
4026,2021-12-09,North West,NaN,20533.0,278.7
4027,2021-12-10,North West,NaN,20550.0,278.9
4028,2021-12-11,North West,NaN,20569.0,279.2
4029,2021-12-12,North West,1360063.0,20571.0,279.2

In [9]:
df['areaName'].value_counts()

East of England             651
East Midlands               650
North West                  645
London                      644
South West                  642
Yorkshire and The Humber    641
South East                  157
Name: areaName, dtype: int64

In [28]:
# South East first entry date
southEast = df['areaName']=='South East'
df[southEast]['date'].head(1)

642   2021-07-09
Name: date, dtype: datetime64[ns]

In [10]:
# Cumulative data as stated by record

dateFilter = df['date']=='2021-12-12'
cumData = df[dateFilter][['date', 'areaName', 'cumCasesByPublishDate','cumDeaths28DaysByPublishDate','cumDeaths28DaysByPublishDateRate']]
cumData.sort_values(by=['areaName'])

,date,areaName,cumCasesByPublishDate,cumDeaths28DaysByPublishDate,cumDeaths28DaysByPublishDateRate
2743,2021-12-12,East Midlands,813192.0,11607.0,238.6
2093,2021-12-12,East of England,942726.0,14795.0,236.0
1442,2021-12-12,London,1381289.0,17183.0,190.9
4029,2021-12-12,North West,1360063.0,20571.0,279.2
798,2021-12-12,South East,1387313.0,18927.0,205.3
641,2021-12-12,South West,797168.0,8100.0,143.1
3384,2021-12-12,Yorkshire and The Humber,954088.0,12990.0,235.1

In [18]:
# Cumulative as calculated by Sum 2020-2021

filterEOE = df['areaName']=='East of England'
filterEM = df['areaName']=='East Midlands'
filterNW = df['areaName']=='North West'
filterL = df['areaName']=='London'
filterSW = df['areaName']=='South West'
filterYH = df['areaName']=='Yorkshire and The Humber'
filterSE = df['areaName']=='South East'

EM = df[filterEM]['newCasesByPublishDate']
EOE = df[filterEOE]['newCasesByPublishDate']
L = df[filterL]['newCasesByPublishDate']
NW = df[filterNW]['newCasesByPublishDate']
SE = df[filterSE]['newCasesByPublishDate']
SW = df[filterSW]['newCasesByPublishDate']
YH = df[filterYH]['newCasesByPublishDate']
Total = df['newCasesByPublishDate']

print('EM :', EM.sum())
print('EOE:', EOE.sum())
print('L  :', L.sum())
print('NW :', NW.sum())

# Differant due to missing records comparatively - Exclude
print('SE :', SE.sum())
print('SW :', SW.sum())
print('YH :', YH.sum())
print('Total:', Total.sum())

EM : 809272.0
EOE: 938353.0
L  : 1362773.0
NW : 1349027.0
SE : 794223.0
SW : 794315.0
YH : 948471.0
Total: 6996434.0

In [35]:
# Cumulative as calculated by Sum 2021
dateFilter = df['date']>='2021-01-01'

print('EM :', EM[dateFilter].sum())
print('EOE:', EOE[dateFilter].sum())
print('L  :', L[dateFilter].sum())
print('NW :', NW[dateFilter].sum())
# Excluded South East - print('SE :', SE[dateFilter].sum())
print('SW :', SW[dateFilter].sum())
print('YH :', YH[dateFilter].sum())
print('Total:', Total[dateFilter].sum())

EM : 628323.0
EOE: 751307.0
L  : 1012336.0
NW : 992673.0
SW : 683773.0
YH : 698333.0
Total: 5560968.0

In [36]:
# Entries 2021 info

dateFilter = df['date']>='2021-01-01'
cumData = df[dateFilter]
cumData.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2233 entries, 296 to 4029
Data columns (total 10 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   date                              2233 non-null   datetime64[ns]
 1   areaName                          2233 non-null   object
 2   newCasesByPublishDate             2233 non-null   float64
 3   cumCasesByPublishDate             7 non-null      float64
 4   newDeaths28DaysByPublishDate      2233 non-null   float64
 5   cumDeaths28DaysByPublishDate      2233 non-null   float64
 6   cumDeaths28DaysByPublishDateRate  2233 non-null   float64
 7   newDeaths28DaysByDeathDate        2225 non-null   float64
 8   cumDeaths28DaysByDeathDate        2226 non-null   float64
 9   cumDeaths28DaysByDeathDateRate    2226 non-null   float64
dtypes: datetime64[ns](1), float64(8), object(1)
memory usage: 191.9+ KB

In [45]:
# Deleteing col newDeaths28DaysByDeathDate, cumDeaths28DaysByDeathDate, cumDeaths28DaysByDeathDateRate

# df=df.drop(columns=['newDeaths28DaysByDeathDate','cumDeaths28DaysByDeathDate','cumDeaths28DaysByDeathDateRate'])
dateFilter = df['date']>='2021-01-01'
cumData = df[dateFilter]
cumData.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2233 entries, 296 to 4029
Data columns (total 7 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   date                              2233 non-null   datetime64[ns]
 1   areaName                          2233 non-null   object
 2   newCasesByPublishDate             2233 non-null   float64
 3   cumCasesByPublishDate             7 non-null      float64
 4   newDeaths28DaysByPublishDate      2233 non-null   float64
 5   cumDeaths28DaysByPublishDate      2233 non-null   float64
 6   cumDeaths28DaysByPublishDateRate  2233 non-null   float64
dtypes: datetime64[ns](1), float64(5), object(1)
memory usage: 139.6+ KB

In [47]:
# Creating NumPy Array as some libraries prefer it
dateFilter = df['date']>='2021-01-01'
cumData = df[dateFilter]
cumData.values

array([[Timestamp('2021-01-01 00:00:00'), 'South West', 2104.0, ...,
        30.0, 3422.0, 60.5],
       [Timestamp('2021-01-02 00:00:00'), 'South West', 3093.0, ...,
        13.0, 3435.0, 60.7],
       [Timestamp('2021-01-03 00:00:00'), 'South West', 2337.0, ...,
        21.0, 3456.0, 61.1],
       ...,
       [Timestamp('2021-12-10 00:00:00'), 'North West', 4886.0, ...,
        17.0, 20550.0, 278.9],
       [Timestamp('2021-12-11 00:00:00'), 'North West', 6004.0, ...,
        19.0, 20569.0, 279.2],
       [Timestamp('2021-12-12 00:00:00'), 'North West', 4428.0, ..., 2.0,
        20571.0, 279.2]], dtype=object)

In [ ]:
df.to_excel()

# Data Exploration

- Utilise suitable data mining tools 
- and analysis techniques to find 
  - significant patterns and trends 
  - SPSS, Excel, Tableau, WEKA, Python libraries, etc 
- Explain the patterns you have observed.

# Data Modelling and Visualisation

- Use appropriate tools to perform some visualisation on the chosen dataset. 
- The choice is yours, based on your future intention of work 
- And also the familiarity of the tool. 
- Your report should document and justify the techniques you have used to 
  - Mine and analyse the data 
  - And the patterns or trends that were discovered. 
- Finally, construct a model that can make some predictions or forecast trends.

# Evaluation

- Critically evaluate your results 
- and compare your findings to other similar studies.